/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
}


/* Encabezado */
header {
    background-color: #f4f4f4;
    color: #228b22;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo-nombre {
    display: flex;
    align-items: center;
}

.logo {
    height: 90px;
    margin-right: 10px;
}

.telefonologo {
    height: 30px;
    margin-right: 10px;
}

.nombre-empresa {
    font-size: 1.5em;
    font-weight: bold;
}

.contacto-redes {
    display: flex;
    align-items: center;
}

.telefono {
    margin-right: 30px;
}

.redes img {
    height: 30px;
    margin: 0 5px;
}

nav ul {
    background-color: #f4f4f4;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    border-top: 2px solid #228B22; /* Línea verde bosque */
}

nav ul li {
    margin: 0 30px;
}

nav ul li a {
    color: #5a5a5a;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 0;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 150px; /* Ancho fijo para todos los enlaces */
    text-align: center; /* Centra el texto dentro del enlace */
}

nav ul li a:hover {
    background-color: #228B22; /* Color de fondo rojo al hacer hover */
    color: #FFF; /* Cambia el color del texto a blanco */
    border-radius: 5px; /* Bordes redondeados opcionales */
}

/* Secciones */

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background-image 1s ease-in-out;
    color: #fff;
    text-align: center;
}

.content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
}

/*tapas y envases*/
.product-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.product-text {
    flex: 1;
    padding-right: 20px;
}

.product-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #5a5a5a;
}

.product-text p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: justify;
}

.product-image {
    flex: 1;
    text-align: center;
}

.product-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}


/*Garantias*/
.features {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
}

.feature-item {
    text-align: center;
}

.feature-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.feature-item h3 {
    font-size: 20px;
    color: #333;
}


/*Materiales*/
.product-features {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    padding: 20px;
}

.feature-item {
    text-align: center;
    max-width: 250px; /* Ajusta según sea necesario */
}

.feature-image {
    width: 0;
    height: 0;
    margin: 0 auto 10px;
    overflow: hidden;
    border-radius: 50%;
    transition: width 2s, height 2s;
}

.feature-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feature-item p {
    font-size: 16px;
    color: #333;
    line-height: 1.4;
}

.feature-image.animate {
    width: 150px; /* Tamaño final deseado */
    height: 150px; /* Tamaño final deseado */
}


/*Líneas*/
.titulo-linea {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #5a5a5a;
    font-size: 20px;
}

.linea-horizontal {
    width: 460px; /* Longitud de la línea */
    height: 10px; /* Grosor de la línea */
    background-color: #228B22; /* Color verde bosque */
    margin-right: 30px;
    margin-left: 30px;
}

.image-container {
    display: flex; /* Para centrar la imagen */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente si es necesario */
    height: auto; /* Asegúrate de que el contenedor se ajuste a la imagen */
    padding: 0; /* Eliminar espacio adicional */
}

.image-container img {
    width: 70%; /* Ajusta el ancho según sea necesario */
    max-width: 100%; /* Evitar que la imagen se desborde del contenedor */
    height: auto; /* Mantener la proporción de la imagen */
    margin: 0 auto; /* Centrar la imagen */
}

/* Formulario de contacto */
form {
    padding: 80px 40px;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: linear-gradient(to bottom, #f4f4f4, #a7bda7, #f4f4f4);
}

form h2 {
    text-align: center; /* Centra el título dentro del formulario */
    margin-bottom: 50px; /* Añade un margen inferior para separarlo del primer campo */
    font-size: 30px;
    color: #5a5a5a;
}

form .contacto {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    height: 100vh;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 20px 40px;
    border: none;
    cursor: pointer;
}

/* Pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
